.Card {
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 150px;

  background: #fff;
  -webkit-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 7px -8px rgba(0, 0, 0, 0.25);
}

.Card-items {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  height: 150px;
  justify-items: center;
  align-content: center;
  font-family: "Open Sans", sans-serif;
}
.Card-img {
  margin-top: 15px;
}
.Card-title {
  color: rgba(102, 97, 91, 0.8);
  margin-top: 10px;
  font-size: 1.3rem;
}
.Card-data {
  font-size: 2rem;
  margin: 0;
  margin-top: -10px;
}

@media (max-width:787px){
  .Card-title{
    font-size: 1.1rem;
  }
}

@media (max-height:800px) {

  .Card{
    height: 110px;
  }
  .Card-items{
    height: 110px;
  }
  .Card-data{
    font-size: 1.8rem;
  }
  
}