.Card-card {
  border: 1px solid black;
  width: 100px;
}
.Card {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  margin-bottom: 100px;
  height: 100px;
}
