.Chart {
  height: 400px;
  width: 90%;

  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 7px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
}

.cardTitle{
  font-size: 1.3rem;

}

@media (max-width: 1300px) {
  .Chart {
    height: 350px;
  }
}

.Chart svg{
width: 90%;
height: 98%;
margin-top: -30px; 

}


.Chart svg g path{
stroke-width: 3;
}
.Chartblue svg g path:not(.domain){
stroke: #0000e5;
}



@media (max-width: 1300px) {
  .Chart {
    height: 350px;
    
  }
  .Chart svg{
zoom: 0.9;
  }
}

@media (max-height:800px) {
  .Chart {
    height: 350px;
    
  }
  .Chart svg{
zoom: .9;

  }
  
}
