.Dashboard {
  box-sizing: border-box;
  display: grid;
  background: #f1f1f1;
  height: 100vh;
  width: 100vw;
}

.Dashboard-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Middle-left {
  margin: 0 auto;
}
.Middle-right {
  margin: 0 auto;
}
