.Linechart {
    width: 100%;
    height: 350px;
    
}

.Linechart svg{
width: 100%;
height: 95%;
}

.Linechart svg g path{
stroke-width: 3;
}

@media (max-width: 1300px) {
    .Linechart svg{
zoom: 0.75;

    }
  }