.Signin {
  width: 450px;
  height: 450px;
  background: #fff;
  align-content: center;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.Signin-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Signin h1 {
  color: #7e7e7e;
  font-weight: 100;
}

.Signin input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #d3d3d3;
  margin: 5px 0;
  padding-left: 10px;
}

.Signin button {
  margin-top: 10px;
  font-size: 1.2rem;
  background: #1f1f1f;
  color: #fff;
  height: 50px;
  border-radius: 20px;
  transition: 0.3s all;
}
.Signin button:hover {
  opacity: 0.7;
}

.Signin a {
  font-size: 13px;
  margin-top: 10px;
  color: #7e7e7e;
  text-decoration: none;
}

/* This section is the darker container */

.SigninToSignup {
  display: grid;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  width: 350px;
  height: 400px;
  background: #1f1f1f;
  color: #fff;
  align-content: center;
  justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.SigninToSignup h1 {
  font-weight: 100;
}
.SigninToSignup p {
  width: 230px;
  font-size: 18px;
}
.SigninToSignup button {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  background: white;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: 0.3s all;
}
.SigninToSignup button a {
  color: black;
  text-decoration: none;
}

.SigninToSignup button:hover {
  opacity: 0.7;
}
